@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-link {
    @apply text-green-neon cursor-pointer link-underline link-underline-color hover:link-underline-size
  }
  .line-beside-text {
    @apply flex gap-5 items-center justify-center
      after:content-[''] after:bg-night-light after:h-px sm:after:w-1/4 after:w-1/12 
      before:content-[''] before:bg-night-light before:h-px sm:before:w-1/4 before:w-1/12
  }
  .button {
    @apply px-6 py-4 font-semibold text-green-neon border-2 rounded 
      border-green-neon hover:bg-green-neon/[0.15]
  }
  .button-menu {
    @apply w-32 h-8 flex justify-center items-center transition-all duration-500 cursor-pointer
    hover:text-green-neon hover:bg-navy link-underline link-underline-color
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
  }
  .link-underline-color {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#9CFF2E, #9CFF2E);
  }
  .link-underline-size {
    background-size: 100% 2px;
  }
}